#allProjects{
    background: var(--bg1);
    padding: 15vh 8rem 20vh;
    min-height: 100vh;
}
.sectionTitle{
    margin-left: 0;
}
.project img{
    object-fit: cover;
}
@media (max-width:1000px) {
    #allProjects{
        padding: 15vh 6rem;
    }
}
@media (max-width:768px) {
    #allProjects{
        padding: 15vh 3rem;
    }
    .sectionTitle{
        margin: 4rem 0 3rem !important; 
    }
}
@media (max-width:425px) {
    #allProjects{
        padding: 15vh 1.5rem;
    }
}
@media (max-width:300px) {
    #allProjects{
        padding: 15vh .5rem;
    }
}
